*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
.form-control:focus {
    box-shadow: none;
}
body{
    font-family: 'Inter', sans-serif;
    height: 150vh;
}
nav{
    background: none;
    height: 10.7vh;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 2.68vh;
}
nav ul li{
    display: inline-block;
    line-height: 10.7vh;
    font-size: 2.2788vh;
    margin: 0 0.67vh;
    color: white;
}
nav ul li a{
    color: white;
    font-size: 2.2788vh;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

img.image{
    height: inherit;
    padding: 1.3vh 6.5vw 1.3vh;
}

.headerImage{
    width: 100%;
    height: 70vh;
    background-size: 100%;
    background-position-y: -50px;
    background-repeat: no-repeat;
}
.headerImage-shortened{
    width: 100%;
    height: 50vh;
    background-size: 100%;
    background-position-y: -50px;
    background-repeat: no-repeat;
}
.header-quote{
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-sub-quote{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    color: white;
    text-align: center;
    width: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
}
.input-group{
    width: 35vw;
    height: 6vh;
}

.br-10{
    border-radius: 10px;
}
select{
    width: 12vw;
    height: 6vh;
}
acc{
    color:#A8A5A5;
    font-size: 2.2788vh;
}
.account:hover{
    color: #fff;
    transition: .2sec;
    cursor: pointer;
}

/* login custom properties */
.acc-input{
    width: 16vw;
    margin-bottom: 2vh;
}
.acc-button{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.signin{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 8vw;
    padding: 0.375rem 0.75rem;
    margin-right: 0;
    text-align: center;
    background-color: #1B065E;
    color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: #1B065E;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}
.register{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 8vw;
    padding: 0.375rem 0.75rem;
    margin-right: 0;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-width: 3px 3px 3px 0px;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.signin2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 8vw;
    padding: 0.375rem 0.75rem;
    margin-right: 0;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}
.register2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 8vw;
    padding: 0.375rem 0.75rem;
    margin-right: 0;
    text-align: center;
    background-color: #1B065E;
    color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: #1B065E;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.submit{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: larger;
    width: 16vw;
    padding: 0.375rem 0.75rem;
    margin-bottom: 5vh;
    border-radius: 10px;
    background-color: #1B065E;
    color: #fff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.row{
    margin-left: 0;
}
.modal-content{
    width: 70%;
    border-radius: 10px;
    justify-content: center;
}
.modal-header{
    align-items: flex-start;
    column-gap: 1vw;
}
.login-header{
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    font-weight: bold;
    margin-top: 6vh;
}

/* This contains the css for reviews */
.nav-reviews{
    background-color: #1B065E;
    box-shadow: 0px 18px 20px rgba(0, 0, 0, 0.25);
}
.br-5{
    border-radius: 5px;
}
.form-reviews{
    width: 15vw;
    margin-left: 1vw;
    margin-right: 1vw;
    color: #fff;
    background-color: rgba(37, 96, 249, 1);
    border-color: rgba(37, 96, 249, 1);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
option{
    background-color: #fff;
    color:black;
}
.reviews-button{
    width: 15vw;
    background-color: rgba(37, 96, 249, 1);
    color: #fff;
    border-color: rgba(37, 96, 249, 1);
}

/* write review modal  */
#write-review > .modal-dialog > .modal-content {
    width: 100% !important;
}
.row > img {
    height: 60px;
    width: 60px;
}
#row-star-cont {
    display: flex !important;
    flex-direction: row !important;
}
#write-review > .modal-dialog > .modal-content > .row > textarea {
    width: 90%;
    margin: 2em 0;
}

/* Login and Register */
.warning {
    color: red;
    font-size: 2vh;
    text-align: center;
    margin: auto;
    padding-bottom: 2vh;
}

#user-welcome-container {
    position: relative;
    display: inline;
}

#user-welcome {
    display: inline;
    padding: 0;
}

.user-dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #000000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.user-dropdown a {
    color: black;
    padding: 5px 10px;
    height: 45px;
    text-decoration: none;
    display: block;
    font-size: 2vh;
    margin: 0;
    line-height: 30px;
}

#welcome-login-register:hover .user-dropdown {
    display: block;
}

#add-food-response {
    padding-top: 10px;
}
